<!DOCTYPE html>
<html>
    <head>
        {# *** META *** #}
        <meta charset="UTF-8">
        <meta
            name="description"
            content="Découvrez notre site dédié aux fruits, légumes et plantes comestibles. Rejoignez notre communauté pour partager vos expériences, poser des questions et publier des recettes. Entraide et partage de connaissances garantis !">
        <meta
            name="keywords"
            content="fruits, légumes, plantes comestibles, jardinage, culture de plantes, recettes, partage de connaissances, entraide, communauté, conseils jardinage">
        <meta name="author" content="Anaïs Aerts">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {# *** TITLE *** #}
        <title>{% block title %}GreenGuide{% endblock %}</title>
        {# *** ICONS *** #}
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('build/images/logo/180x180.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('build/images/logo/32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('build/images/logo/16x16.png') }}">
        {# *** CSS *** #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('styles') }}
            {# 'styles' fait référence à l'entrée CSS configurée dans webpack.config.js #}
        {% endblock %}
        {# *** JAVASCRIPT *** #}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {# 'app' fait référence à l'entrée JavaScript configurée dans webpack.config.js #}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        {# *** MENU *** #}
        <nav>
            <ul>
                <li id="navHomeBtn">
                    <a href="{{ path('accueil') }}">
                        <span><img src="{{ asset('build/images/logo/greenguide.png') }}" alt="Accueil"></span>GreenGuide</a>
                </li>
            </ul>
            <ul>
                <li id="navBtn">
                    <a href="{{ path('repertoire') }}">Répertoire</a>
                </li>
                <li id="navBtn">
                    <a href="{{ path('recette') }}">Recettes</a>
                </li>
                <li id="navBtn">
                    <a href="{{ path('entraide') }}">Entraide</a>
                </li>
            </ul>
            <ul>

                <li id="navFullBtn">
                    <a href="">S'inscire</a>
                </li>
                <li id="navBorderBtn">
                    <a href="">Se connecter</a>
                </li>

                <li id="profilBtn">
            <a href="">
                <span><img src="{{ asset('build/images/avatars/default.png') }}" alt="Profil"></span>Anaïs</a>
        </li>

        <li id="navBorderBtn">
            <a href="">Déconnexion</a>
        </li>
            </ul>
        </nav>
        
