{% include "header/header.html.twig" %}


<section>
    <div class="container">
        <section id="recetteFiltre">
            <h2>Les recettes</h2>
            <div class="divRecherche">
                <input type="text" name="newsletters" class="input">
                <button id="mainBtn">
                    <a href="#rechercher">Rechercher</a>
                </button>
            </div>
            <div class="divTri">       
                <button id="mainBtn">
                    <a href="{{ path('recette_ajouter') }}">Poster une recette</a>
                </button>
                <button id="secondBtn">
                    <a href="">Trier et afficher</a>
                </button>
            </div>
        </section>
        <section id="recette">
            {% for item in recette %}
                <a id="cardRecette" href="{{ path('recette_detail', {'nom': item.nom})}}">
                    <span><img src="{{ asset('/build/images/photosRecette/' ~ item.image)}}" alt="{{item.nom}}"></span>
                    <div class="cardInfo">
                        <div class="divLeft">
                            <h4>{{item.nom}}</h4>
                            <p>{{item.user.pseudo}}</p>
                            </div>
                        <div class="divRight">
                            <p>52</p>
                            <span><img src="{{ asset('./images/logo/icons/coeur.png')}}" alt="Like"></span>
                        </div>
                    </div>
                </a>   
            {% endfor %}
        </section>
    </div>
</section>


{% include "footer/footer.html.twig" %}