{% include "header/header.html.twig" %}


<section>
    <div class="container">
        <section id="repertoireFiltre">
            <h2>Le répertoire</h2>
            <div class="divFiltre">
                <div class="divOne">
                    <input type="text" name="newsletters" id="input">
                    <button type="submit" id="mainBtn">
                        <a href="#rechercher">Rechercher</a>
                    </button>
                </div>
                <div class="divTwo">
                    <div class="divCategorie">
                        <button type="submit" id="allBtn">Toutes les catégories</button>
                        <button type="submit" id="filtreBtn"><span><img src="{{ asset('./images/logo/icons/legume.png')}}" alt="Légumes"></span>Légumes</button>
                        <button type="submit" id="filtreBtn"><span><img src="{{ asset('./images/logo/icons/fruit.png')}}" alt="Fruits"></span>Fruits</button>
                        <button type="submit" id="filtreBtn"><span><img src="{{ asset('./images/logo/icons/plante.png')}}" alt="Plantes"></span>Plantes</button>
                    </div>
                </div>
            </div>
        </section>
        <section id="repertoire">
                <a id="cardRepertoire" href="{{ path('repertoire_detail')}}">
                    <span><img src="{{ asset('./images/photosPlantes/plante/default.png')}}" alt="Default"></span>
                    <div class="cardInfo">
                    <h4>Plante</h4>
                    <span><img src="{{ asset('./images/logo/icons/plante.png')}}" alt=""></span>
                    </div>
                </a>
        </section>
    </div>
</section>


{% include "footer/footer.html.twig" %}