{% include "header/header.html.twig" %}


<section>
    <div class="container">
        <section id="repertoireFiltre">
            <h2>Le répertoire</h2>
            <div class="divFiltre">
                <div class="divOne">
                    <input type="text" name="newsletters" id="input">
                    <button type="submit" id="mainBtn">
                        <a href="#rechercher">Rechercher</a>
                    </button>
                </div>
                <div class="divTwo">
                    <div class="divCategorie">
                        <button type="submit" id="allBtn">Toutes les catégories</button>
                        <button type="submit" id="filtreBtn"><span><img src="{{ asset('/build/images/logo/icons/legume.png')}}" alt="Légumes"></span>Légumes</button>
                        <button type="submit" id="filtreBtn"><span><img src="{{ asset('/build/images/logo/icons/fruit.png')}}" alt="Fruits"></span>Fruits</button>
                        <button type="submit" id="filtreBtn"><span><img src="{{ asset('/build/images/logo/icons/plante.png')}}" alt="Plantes"></span>Plantes</button>
                    </div>
                </div>
            </div>
        </section>
        <section id="repertoire">
        {% for item in element %}
                <a id="cardRepertoire" href="{{ path('repertoire_detail')}}">
                    {% for type in item.typeElement %}
                    <span><img src="{{ asset('/build/images/photosPlantes/' ~ type.nom ~ '/' ~ item.image)}}" alt="{{ item.nom }}"></span>
                    <div class="cardInfo">
                    <h4>{{ item.nom }}</h4>
                        <span><img src="{{ asset('/build/images/logo/icons/' ~ type.nom ~ '.png') }}" alt="{{ type.nom }}"></span>
                    </div>
                    {% endfor %}
                </a>
        {% endfor %}
        </section>
    </div>
</section>


{% include "footer/footer.html.twig" %}